CONFIG_WERROR=n
CONFIG_LOCALVERSION="-futurfusion"
CONFIG_LOCALVERSION_AUTO=n

CONFIG_DEFAULT_MMAP_MIN_ADDR=65536
CONFIG_ASYNC_KERNEL_PGTABLE_FREE=y
CONFIG_HMM_MIRROR=y
CONFIG_VMAP_PFN=y

CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

CONFIG_BINFMT_MISC=y
CONFIG_IKHEADERS=y

CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_CPU_ISOLATION=y

CONFIG_SYSFS_SYSCALL=y

CONFIG_BSD_PROCESS_ACCT=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_TASKSTATS=y
CONFIG_TASK_DELAY_ACCT=y
CONFIG_TASK_XACCT=y
CONFIG_TASK_IO_ACCOUNTING=y
CONFIG_PSI=y

