CONFIG_PACKET=y
CONFIG_PACKET_DIAG=m

CONFIG_BONDING=m
CONFIG_WIREGUARD=m
CONFIG_VXLAN=m
CONFIG_GENEVE=m
CONFIG_MACVLAN=m
CONFIG_MACVTAP=m
CONFIG_TUN=y
CONFIG_TAP=m

CONFIG_BRIDGE=m
CONFIG_BRIDGE_IGMP_SNOOPING=y
CONFIG_BRIDGE_VLAN_FILTERING=y
CONFIG_BRIDGE_MRP=y
CONFIG_BRIDGE_CFM=y

CONFIG_VLAN_8021Q=m
CONFIG_VLAN_8021Q_GVRP=y
CONFIG_VLAN_8021Q_MVRP=y

#
# Queueing/Scheduling
#
CONFIG_NET_SCH_FQ_CODEL=m

CONFIG_BPF_STREAM_PARSER=y
CONFIG_HSR=m
CONFIG_NET_NCSI=y
CONFIG_NCSI_OEM_CMD_GET_MAC=y
CONFIG_NETLINK_DIAG=m
CONFIG_NET_DROP_MONITOR=y
CONFIG_NET_IFE=m
CONFIG_NET_PKTGEN=m
CONFIG_VSOCKMON=m

#
# --- Networking
#
CONFIG_UNIX_DIAG=m
CONFIG_TLS=m

CONFIG_TLS_DEVICE=y

CONFIG_NET_FOU_IP_TUNNELS=y

CONFIG_IP_FIB_TRIE_STATS=y
CONFIG_IP_MROUTE_MULTIPLE_TABLES=y
CONFIG_IPV6_GRE=m
CONFIG_NETWORK_PHY_TIMESTAMPING=y

CONFIG_TCP_CONG_CUBIC=y
CONFIG_DEFAULT_CUBIC=y
# CONFIG_DEFAULT_RENO is not set
