#
# Basic framebuffer support
# (these drivers rely on a firmware/bootloader initialization)
#
CONFIG_DRM_SYSFB_HELPER=m
CONFIG_DRM_EFIDRM=m
CONFIG_DRM_SIMPLEDRM=m
CONFIG_DRM_VESADRM=m

#
# GPU accelerators
# Also, refer to https://github.com/FuturFusion/hypervisor-os/blob/86ee5024017af7e11c1cc58193b41136992e545a/app-build/applications.json#L108
#
CONFIG_DRM_AMDGPU=m
CONFIG_DRM_XE=m
CONFIG_DRM_NOUVEAU=m

#
# NPU accelerators
#
CONFIG_DRM_ACCEL=y
CONFIG_DRM_ACCEL_IVPU=m
CONFIG_DRM_ACCEL_AMDXDNA=m
